* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

.contenedor {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: minmax(90px, 90px) auto;
	grid-template-rows: 60px auto;
	grid-template-areas: "header header"
						 "menu contenido";
	transition: all .3s ease;
}
/* Para que funcione necesito javascript */
.contenedor.active {
	grid-template-columns: minmax(300px, 18%) auto;
}

/* ---- ---- ---- HEADER ---- ---- ---- */
.header {
	grid-area: header;
	padding: 0 20px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-content: space-between;
	grid-gap: 20px;
	position: sticky;
	top: 0;
	grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo {
	grid-area: logo;
	display: flex;
	align-items: center;
}

.header .contenedor-logo .boton-menu {
	border: none;
	padding: 10px;
	background: none;
	cursor: pointer;
	font-size: 18px;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.header .contenedor-logo .boton-menu:hover {
	background: #E7E7E7;
}

.header .contenedor-logo .logo .fas {
	background: #080404;
	padding: 7px 12px;
	border-radius: 4px;
	font-size: 8px;
	color: #fff;
	position: relative;
	top: -4px;
	margin-right: 4px;
}

.header .contenedor-logo .logo {
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	position: relative;
	top: 2px;
}

.header .barra-busqueda {
	grid-area: busqueda;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .barra-busqueda input {
	min-width: 50%;
	padding: 0 15px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ccc;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.header .barra-busqueda button {
	height: 35px;
	border: 1px solid #ccc;
	border-left: none;
	color: #545454;
	background: #f8f8f8;
	padding: 0 25px;
	cursor: pointer;
}

.header .barra-busqueda button:hover {
	background: #f5f5f5;
}

.header .botones-header {
	grid-area: iconos;
	display: flex;
	align-items: center;
}

.header .botones-header button {
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	font-size: 18px;
	padding: 7px 12px;
	border-radius: 100px;
	color: #828282;
	margin-right: 20px;
	cursor: pointer;
}

.header .botones-header button:hover {
	background: #e7e7e7;
}

.header .botones-header .avatar {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.header .botones-header .avatar img {
	vertical-align: top;
	width: 100%;
	border-radius: 100px;
}

/* ---- ---- ---- Menu Lateral ---- ---- ---- */

.menu-lateral {
	grid-area: menu;
	background: #fff;
	overflow: hidden;
	position: sticky;
	left: 0;
}

.menu-lateral a {
	display: block;
	padding: 15px 35px;
	color: #000;
	min-width: 800px;
}

.menu-lateral a:hover {
	background: #e5e5e5;
}

.menu-lateral a.active {
	background: #e5e5e5;
	font-weight: bold;
}

.menu-lateral .fas {
	color: #606060;
	margin-right: 32px;
	width: 20px;
	text-align: center;
}

.menu-lateral a.active .fas {
	color: #ff0000;
}

.menu-lateral hr {
	margin: 20px 0;
	border: 1px solid #dfdfdf;
}

/* ---- ---- ---- Contenido Principal ---- ---- ---- */
main {
	grid-area: contenido;
	padding-left: 2em;
}
.imagen > img {
	height: 20em;
	width: 20em;
	object-fit: cover;
}
.imagen {
	float: left;
	margin: 1em 1em 1em 1em;
}
.texto_img {
	visibility: hidden;
}

.receta:hover  .texto_img {
	visibility: visible;

}

.contenido_principal {
	padding: 2em 2em 2em 2em;
}
.container_receta {
	margin-top: 2em;
}
.descripcion_posteador {
	float: right;
	width: 50%;
}
.foto_poster {
	border-radius: 50%;
	border-style: solid;
	border-width: 0.15em;
	border-color: black;
	background-color: rgba(243, 0, 0, 0.5);
	display: block;
	max-width:8em;
	max-height:9em;
	width: auto;
	height: auto;
	margin-top:2em;
	margin-bottom: 2em;
}

.bloque_texto {
	z-index: 1;
	padding: 0.5em 1.3em 0.5em 1.3em;
	color: white;
	visibility: hidden;
	position: absolute;
	background-color: rgb(0,0,0); /* por si no soporta rgba*/
	background-color: rgba(0,0,0,0.8);
	top: 18em;
	left: 0.3em;
}
.receta {
	position: relative;
	display: inline-block;
}
.receta_producto {
	margin-top: 2em;
}
.receta:hover  .bloque_texto {
	visibility: visible;
}
.tasty_true{
	font-size: 2em;
}
.tasty_false {
	font-size: 2em;
	opacity: 20%;
}
.rating_container {
	display: inline-block;
}
.container_pasos {
	margin-top:2em;
	margin-bottom:2em;
}
.container_pasos > ul, .container_pasos > h4 {
	margin-top:1em;
}
ul.pasos {
	list-style-type: decimal;
}
ul.pasos > li {
	margin-bottom: 1em;
}

/* ---- ---- ---- Mediaqueries ---- ---- ---- */
@media screen and (max-width: 1200px) {
	.main .recetas_recomendadas {
		grid-template-columns: repeat(3, 1fr);
	}

	.header .contenedor-logo .logo span {
		display: none;
	}

	.header .barra-busqueda input {
		min-width: 70%;
	}
}

@media screen and (max-width: 992px) {
	.main .recetas_recomendadas {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.contenedor {
		grid-template-rows: auto;
	}

	.header {
		padding: 20px;
		grid-template-columns: auto auto;
		justify-content: space-between;
		grid-template-areas: "logo iconos"
							 "busqueda busqueda";
	}

	.header .contenedor-logo .logo span {
		display: inline;
	}

	.header .barra-busqueda input {
		min-width: auto;
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.main .recetas_recomendadas {
		grid-template-columns: 1fr;
	}
}
