* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 2em 2em 2em 2em;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.nav_bar_ul {
    list-style-type: none;
    float: right;
    width: 20%;
    height: 10em;
}

.nav_bar_ul>li {
    margin-bottom: 1.5em;
}

#especial {
    margin-bottom: 0em;
}

.vertical_hr {
    border-left: 0.2em solid black;
    height: 10em;
    float: left;
    margin-left: 2em;
}

.vertical_hr2 {
    border-left: 0.2em solid black;
    height: 10em;
    float: right;
    margin-left: 2em;
}

.navbar {
    margin-top: 8em;
    width: 6em;
    height: 100%;
}

.contenido {
    float: right;
    text-align: justify;
    font-size: 20px;
    width: 80%;
    margin-top: 12em;
    padding: 0em 2em 2em 2em;
    margin-right: 6em;
}

a.logo {
    margin-left: 2em;
    width: 100%;
}